  body {
    background: #f2f2f2;
  }
 .KnowFoodMean {
   display: flex;
   display: -webkit-flex;
   justify-content: space-between;
   width: 100%;
   background: #fff;
   padding: 0.35rem 0.32rem;
   box-sizing: border-box;
   color: #999;
 }

 section {
   padding-top: 0.8rem;
 }

 .KnowFoodMean .knowFoodImg {
   text-align: left;
 }

 .KnowFoodMean h3 {
   padding-top: 0.3rem;
 }

 .KnowFoodMean .knowFoodImg span {
   vertical-align: middle;
 }

 .KnowFoodMean .knowFoodImg img {
   width: 0.6rem;
   height: 0.6rem;
   margin-right: 0.2rem;
 }

 .foodStart {
   width: 1.8rem;
   flex: 0 0 1.8rem;
   padding-top: 0.2rem;
 }

 .foodStart img {
   width: 0.2rem;
   height: 0.2rem;
 }

 .meanTitle {
   width: 100%;
   background: #f2f2f2;
   text-align: left;
 }

 .meanTitle h3 {
   color: #999;
   padding: 0.2rem 0.32rem;
 }

 .ingredient {
   display: flex;
   display: -webkit-flex;
   background: #fff;
 }

 .ingredient div {
   width: 25%;
   color: #999;
   padding: 0.38rem 0;
   text-align: center;
 }

 .ingredient img {
   width: 0.35rem;
   height: 0.35rem;
   margin-bottom: 0.1rem;
 }

 .ingredient strong {
   font-size: 0.36rem;
   font-weight: bold;
 }

 .ingredient h3 {
   padding-top: 0.1rem
 }

 .ingredientNum {
   width: 100%;
   background: #fff;
 }

 .ingredientNum li {
   display: flex;
   display: -webkit-flex;
   justify-content: space-between;
   color: #999;
   border-bottom: 1px solid #f2f2f2;
   box-sizing: border-box;
   padding: 0.2rem 0.31rem;
 }

 /*头部*/

 .Equitheader {
   width: 100%;
   height: .89rem;
   background: #fff;
   position: fixed;
   z-index: 1;
   padding: 0 .2rem 0 .2rem;
   box-sizing: border-box;
 }

 .header-left {
   width: 10%;
   height: 100%;
   float: left;
 }

 i {
   font-size: 0.36rem;
   line-height: .89rem;
   text-align: center;
   display: block;
 }

 .header-in {
   width: 80%;
   float: left;
   text-align: center;
   font-size: 0.28rem;
   line-height: 0.85rem;
   color: #333333;
 }

 .header-rigth {
   width: 10%;
   height: 100%;
   float: left;
 }
