.setup{
	width:100%;
	height:100%;
	background: #EEEEEE;
	padding-bottom: 5.22rem;
	box-sizing: border-box;
}
.setupHeader{
	width:100%;
	height:.84rem;
	background: #fff;
}
.fanhui{
	float: left;
    width: 13%;
	height:.84rem;
	padding-top: .2rem;
	box-sizing: border-box;
}
.fanhui img{
	width:.41rem;
	height: .33rem;
	background-size: 100% 100%;
}
.content{
	width:87%;
	height:.84rem;
	line-height: .84rem;
	text-align: center;
	float: right;
	font-size: .28rem;
	color: #333333;
}
.switch{
	width:100%;
	height: 2.13rem;
	margin-top: .01rem;
	background: #fff;
}
.voice,.notifica{
	width:100%;
	height: 1.2rem;
	border-bottom: .01rem solid #F2F2F2;
	box-sizing: border-box;
	padding-left: .3rem;
	box-sizing: border-box;
}
.notifica{
	border-bottom: .01rem solid transparent;
	height: .92rem;
}
.voiceCon,.notificaCon,.bluetoothCon{
	float: left;
	color:rgba(102,102,102,1);
	font-size: .28rem;
	width:70%;
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: left;
}
.bluetoothCon{
	height: 1.03rem;
}
.notificaCon{
	height: .92rem;
	line-height:.92rem;
}
.voicekong,.notifikong,.bluetoothkong{
	float: right;
	width:30%;
	height: 1.2rem;
}
.notifikong{
	height: .92rem;
}
.bluetoothkong{
	height: 1.03rem;
}
.switch>>>.mint-cell-wrapper{
	background: #fff;
}
.switch>>>.mint-switch-input:checked + .mint-switch-core {
    border-color: #32C58C;
    background-color: #32C58C;
}
.bluetooth >>>.mint-cell {
    margin-top: .15rem;
}
.notifica >>>.mint-cell{
	min-height: 39px !important;
}
.bluetooth >>>.mint-switch-input:checked + .mint-switch-core {
    border-color: #32C58C;
    background-color: #32C58C;
}
.news{
	width:100%;
	height: .86rem;
	color:rgba(153,153,153,1);
	font-size: .24rem;
	line-height: .86rem;
	padding-left: .2rem;
	box-sizing: border-box;
	text-align: left;
}
.bluetooth{
	width:100%;
	height: 1.03rem;
	text-align: left;
	padding-left: .2rem;
	box-sizing: border-box;
	line-height: 1.03rem;
	color:rgba(102,102,102,1);
	font-size: .28rem;
	background: #fff;
}
.bluetooContent{
	width:100%;
	line-height: .37rem;
	text-align: left;
	color:rgba(153,153,153,1);
	font-size: .24rem;
	padding-left: .2rem;
	box-sizing: border-box;
	padding-top: .2rem;
}
.lock{
	width:100%;
	height: 1.06rem;
	text-align: left;
	line-height: 1.06rem;
	background: #FFFFFF;
	padding-left: .2rem;
	box-sizing: border-box;
	margin-top: .25rem;
}
.lockLeft{
	width:90%;
	height: 1.06rem;
	float: left;
	color:rgba(102,102,102,1);
	font-size: .28rem;
}
.lockRi{
	float: right;
	padding-left: .3rem;
    padding-top: .1rem;
	width:10%;
	box-sizing: border-box;
	height: 1.06rem;
}
.lockRi img{
	width:.19rem;
	height: .31rem;
	margin: auto;
}
.shoushi{
	width:100%;
	padding-left: .2rem;
	box-sizing: border-box;
	height: .8rem;
	line-height: .4rem;
	text-align: left;
	color: #999999;
	font-size: .24rem;
	margin-top: .24rem;
}
