
header{border: 0;}




.invitation-content {
    height: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .varyfyInviteCode-container {
        padding-top: 1.17rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 0.69rem;
        .title {
            text-align: center;
            height: .34rem;
            font-size: .36rem;
            line-height: .36rem;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            margin-bottom: 1.04rem;
            flex-wrap: nowrap;
        }
        .el-input {
            width: 6.7rem;
            height: 0.02rem;
            .el-input__inner {
                border: 0;
                text-align: left;
            }
        }
        .el-form-item__content {
            border-bottom: 0.02rem solid;
        }
        .el-form-item__content:hover {
            border-bottom: 0.02rem solid rgba(255, 94, 58, 1);
        }
    }
    .varifyCodeHint {
        width: 5.16rem;
        height: 1.53rem;
        font-size: 0.28rem;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 0.42rem;
    }

    .inviteInfoRight {
    width: 5.36rem;
    height: 0.78rem;
    background: #999999;
    border-color: #999999;
    border-radius: 0.39rem;
    font-size: 0.3rem;
    font-family: PingFangSC-Regular;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0.62rem;
}
}



/*.varyfyInviteCode-container .title p {
        font-size: 18px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        text-align: center;
    }
    */

footer {
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.02rem solid rgba(229, 229, 229, 1);
    font-size: 0.28rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 94, 58, 1);
    line-height: 0.7rem;
}