@charset "UTF-8";
.competition-main {
  height: 88%;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  position: relative; }
  .competition-main img {
    width: 100%;
    height: 100%;
    display: block; }
  .competition-main button {
    border: none;
    outline: none;
    position: absolute;
    left: 19%;
    top: 85%;
    width: 4.8rem;
    height: 0.96rem;
    background: linear-gradient(0deg, #fe3e43, #fe7e4a);
    box-shadow: 0px 5px 12px 0px #fff77f, 0px -2px 8px 0px rgba(236, 0, 33, 0.8);
    border-radius: 48px; }
    .competition-main button span {
      position: relative;
      display: flex;
      justify-content: center;
      width: 2.67rem;
      height: 0.28rem;
      margin: 0 auto; }
      .competition-main button span img:nth-of-type(1) {
        display: block;
        width: 2.67rem;
        height: 0.28rem; }
      .competition-main button span img:nth-of-type(2) {
        width: 0.75rem;
        height: 0.12rem;
        position: absolute;
        left: -24%;
        top: 120%; }
  .competition-main .competition-text span {
    position: absolute;
    top: 0; }
  .competition-main .competition-text span:nth-of-type(1) {
    top: 8.4%;
    left: 0;
    right: 0;
    font-size: 0.28rem;
    font-family: HiraginoSansGB-W3;
    font-weight: normal;
    color: #c77900; }
  .competition-main .competition-text span:nth-of-type(2) {
    top: 19.92%;
    left: 0;
    right: 0;
    font-size: 0.3rem;
    font-family: PingFangSC-Regular;
    font-weight: bold;
    color: white; }
  .competition-main .competition-text span:nth-of-type(3) {
    top: 32%;
    left: 0;
    right: 0;
    font-size: 0.24rem;
    font-family: PingFangSC-Regular;
    font-weight: bold;
    color: #b56624; }
  .competition-main .competition-text span:nth-of-type(4) {
    top: 40%;
    left: 0;
    right: 0;
    font-size: 0.36rem;
    font-family: HYk1gj;
    font-weight: 400;
    color: #b36321; }
    .competition-main .competition-text span:nth-of-type(4) i {
      font-style: normal;
      font-size: 0.8rem;
      font-weight: 900; }
  .competition-main .competition-text span:nth-of-type(5) {
    top: 73.12%;
    left: 0;
    right: 0;
    font-size: 0.24rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #ffd942; }
  .competition-main .competition-text > img:nth-of-type(1) {
    width: 1.05rem;
    height: 0.75rem;
    position: absolute;
    top: 6.3%; }
  .competition-main .competition-text > img:nth-of-type(2) {
    position: absolute;
    top: 24.59%;
    right: 1.51%;
    width: 0.85rem;
    height: 0.57rem; }
  .competition-main .competition-text .account-balance {
    width: 1.93rem;
    height: 0.83rem;
    background: #ffaa26;
    border-radius: 0.27rem 0px 0px 0.27rem;
    position: absolute;
    top: 3.3%;
    right: 0;
    text-align: center; }
    .competition-main .competition-text .account-balance span {
      line-height: 0.36rem;
      font-size: 0.28rem;
      font-family: HiraginoSansGB-W3;
      font-weight: bold;
      color: white;
      font-weight: normal; }
  .competition-main .competition-text .competition-guide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5.84rem;
    height: 1.39rem;
    position: absolute;
    top: 58%;
    left: 0;
    right: 0;
    margin: auto; }
    .competition-main .competition-text .competition-guide div:nth-of-type(1) {
      width: 5.84rem;
      height: 0.75rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      .competition-main .competition-text .competition-guide div:nth-of-type(1) img {
        width: 0.75rem;
        height: 0.75rem; }
      .competition-main .competition-text .competition-guide div:nth-of-type(1) img:nth-of-type(3) {
        width: 1.05rem;
        height: 0.63rem; }
      .competition-main .competition-text .competition-guide div:nth-of-type(1) img:nth-of-type(4) {
        width: 0.71rem;
        height: 0.37rem;
        position: absolute;
        left: 26%;
        top: 15%; }
      .competition-main .competition-text .competition-guide div:nth-of-type(1) img:nth-of-type(5) {
        width: 0.71rem;
        height: 0.37rem;
        position: absolute;
        left: 57%;
        top: 15%; }
    .competition-main .competition-text .competition-guide div:nth-of-type(2) {
      width: 5.84rem;
      height: 0.44rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      .competition-main .competition-text .competition-guide div:nth-of-type(2) b {
        width: 1.58rem;
        height: 0.44rem;
        background: #ffd942;
        border-radius: 0.12rem;
        line-height: 0.44rem;
        font-size: 0.24rem;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: #a54100; }

@media (max-width: 768px) {
  .ivu-modal {
    width: auto !important;
    margin: 0 !important;
    background: pink;
    border-radius: 0;
    height: 58.5%;
    top: 41.5%;
    bottom: 0; }
    .ivu-modal .ivu-modal-content {
      width: 100%;
      height: 100%;
      border-radius: 0;
      bottom: 0; }
      .ivu-modal .ivu-modal-content .ivu-modal-body {
        padding: 0;
        height: 88%; }
        .ivu-modal .ivu-modal-content .ivu-modal-body h2 {
          font-size: 0.28rem;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: #999999;
          line-height: 0.7rem; }
        .ivu-modal .ivu-modal-content .ivu-modal-body .modal-con {
          padding: 0.5rem; }
          .ivu-modal .ivu-modal-content .ivu-modal-body .modal-con div:nth-of-type(1) span {
            font-size: 0.36rem;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: #ff5e3a;
            line-height: 0.7rem; }
          .ivu-modal .ivu-modal-content .ivu-modal-body .modal-con div:nth-of-type(1) i {
            font-style: normal;
            font-size: 0.28rem;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: #999999;
            line-height: 0.7rem; }
          .ivu-modal .ivu-modal-content .ivu-modal-body .modal-con div:nth-of-type(2) span {
            font-size: 0.28rem;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: #333333; }
          .ivu-modal .ivu-modal-content .ivu-modal-body .modal-con div:nth-of-type(3) {
            margin-top: 0.2rem; }
          .ivu-modal .ivu-modal-content .ivu-modal-body .modal-con div:nth-of-type(4) {
            margin-top: 0.2rem; }
            .ivu-modal .ivu-modal-content .ivu-modal-body .modal-con div:nth-of-type(4) .ivu-radio-group {
              width: 70%;
              display: flex;
              justify-content: space-between; }
              .ivu-modal .ivu-modal-content .ivu-modal-body .modal-con div:nth-of-type(4) .ivu-radio-group span {
                color: #000;
                font-size: 0.32rem; }
                .ivu-modal .ivu-modal-content .ivu-modal-body .modal-con div:nth-of-type(4) .ivu-radio-group span i {
                  font-size: 0.34rem;
                  color: green; }
          .ivu-modal .ivu-modal-content .ivu-modal-body .modal-con div:nth-of-type(5) {
            border-top: 0.02rem solid #e5e5e5; }
          .ivu-modal .ivu-modal-content .ivu-modal-body .modal-con .ivu-radio-inner {
            border-color: #fe6431; }
          .ivu-modal .ivu-modal-content .ivu-modal-body .modal-con .ivu-radio-inner::after {
            background-color: #fe6431; }
          .ivu-modal .ivu-modal-content .ivu-modal-body .modal-con .ivu-icon {
            display: none; }
      .ivu-modal .ivu-modal-content .ivu-modal-footer {
        padding: 0;
        display: none; }
        .ivu-modal .ivu-modal-content .ivu-modal-footer button:nth-of-type(1) {
          display: none; }
        .ivu-modal .ivu-modal-content .ivu-modal-footer button:nth-of-type(2) {
          display: none;
          content: '支付';
          margin: 0;
          width: 100%;
          height: 100%;
          outline: none;
          border: none;
          background: #fff;
          color: #000; }
    .ivu-modal .pay-confirm {
      border-top: 0.02rem solid #e5e5e5;
      width: 100%;
      height: 11.14%;
      position: absolute;
      bottom: 0;
      text-align: center;
      line-height: 0.87rem;
      font-size: 0.28rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: #ff5e3a; } }

/*# sourceMappingURL=competition.css.map */
