  .outerMain {
    padding-top: 1.7rem;
    background: #fff;
  }

  .heartMain {
    background: #fff;
    position: relative;
  }

  .heartArrows {
    position: absolute;
    width: 126px;
    height: 126px;
    top: -2px;
    left: calc(50% - 63px);
  }

  .heartArrows img {
    width: 0.33rem;
    height: 0.33rem;
  }

  .heartTitle {
    width: 2rem;
    position: absolute;
    top: 32px;
    left: 50%;
    margin-left: -1rem;
  }

  h3 {
    font-size: 0.72rem;
    color: #FF5E3A;
    padding-bottom: 0.1rem;
  }

  .rota {
    position: relative;
    transform: rotate(-90deg);
  }

  .svg {
    position: absolute;
    top: 1.57rem;
    left: cale(50%-100);
  }

  .Equitheader {
    width: 100%;
    height: .89rem;
    background: #fff;
    position: fixed;
    z-index: 1;
    padding: 0 .2rem 0 .2rem;
    box-sizing: border-box;
  }

  .header-left {
    width: 10%;
    height: 100%;
    float: left;
  }

  i {
    font-size: 0.36rem;
    line-height: .89rem;
    text-align: center;
    display: block;
  }

  .header-in {
    width: 80%;
    float: left;
    text-align: center;
    font-size: 0.28rem;
    line-height: 0.85rem;
    color: #333333;
  }

  .header-rigth {
    width: 10%;
    float: right;
  }

  .pharmacyType {
    width: 100%;
    padding: 0 0.2rem;
    box-sizing: border-box;
    padding-top: 1rem;
    background: #fff;
  }

  .pharmacyType ul {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.23rem;
  }

  .pharmacyType ul:first-child {
    border-bottom: 1px solid #cccccc;
  }


  .pharmacyType button img {
    width: 0.22rem;
    height: 0.24rem;
  }

  .pharmacyType .nextBtn {
    width: 0.19rem;
    height: 0.31rem;
  }

  .save {
    width: 100%;
    height: 0.9rem;
    background: linear-gradient(#FF5E3A, #FF9500);
    border: 0;
    font-size: 0.3rem;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    outline: medium;
  }

  .test {
    height: 0.56rem;
    border: 1px solid #FF5E3A;
    border-radius: 20px;
    width: 1.6rem;
    font-size: 0.22rem;
    color: #FF5E3A;
    background: #fff;
    position: fixed;
    top: 1.5rem;
    right: -0.25rem;
    outline: medium;
  }
