/*头部*/

.Equitheader {
  width: 100%;
  height: .89rem;
  background: #fff;
  position: fixed;
  z-index: 1;
  padding: 0 .2rem 0 .2rem;
  box-sizing: border-box;
}

.header-left {
  width: 10%;
  height: 100%;
  float: left;
}

i {
  font-size: 0.36rem;
  line-height: .89rem;
  text-align: center;
  display: block;
}

.header-in {
  width: 80%;
  float: left;
  text-align: center;
  font-size: 0.28rem;
  line-height: 0.85rem;
  color: #333333;
}

.header-rigth {
  width: 10%;
  float: right;
}

.sportTab {
  width: 100%;
  height: auto;
  padding-top: 1rem;
  background: #fff;
}

.sportTab span {
  padding: 0.2rem 0.4rem;
  display: inline-block;
}

.active {
  color: #ff5e3a;
  border-bottom: 2px solid #ff5e3a;
  box-sizing: border-box;
}

.sportList {
}

.sportList ul {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  width: 100%;
  padding: 0.2rem;
  box-sizing: border-box;
  background: #fff;
  margin-top: 0.07rem;
  text-align: left;
  overflow: hidden;
}

.sportList ul li img {
  width: 1.3rem;
  height: 1.65rem;
}
.sportList ul li{
  height: 1.65rem;
}
.sportList ul li:first-child{
  border-right: 1px solid #f2f2f2;
  padding: 0 0.2rem;
  margin-right: 0.44rem;
}

.sportList h3 {
  font-size: 0.28rem;
  color: #666;
  padding: 0.16rem 0;
}

.sportList h4, p {
  width: 4.4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #999;

}
.sportList h4{
    margin-bottom: 0.36rem;
}