.unheaZ{
    width: 100%;
    height: auto;
    background: #f2f2f2;
    font-size: .28rem;
    color: #333333;
    padding-bottom: 1.64rem;
    box-sizing: border-box;
}
.simi{
    width:100%;
    height: .98rem;
    line-height: .98rem;
    background: #f2f2f2;
    text-align: center;
    font-size: .28rem;
}
.contrast{
    width: 100%;
    padding: .4rem 0 .4rem 0;
    box-sizing: border-box;
    background: #ffffff;
}
.conO{
   width:94%;
   margin: auto;
   height: 100%;
}
.statusConO{
    margin-top: .4rem;
    margin: auto;
    width: 94%;
}
.myCon{
   font-size: .28rem;
   text-align: left;
   color: #666666;
    
}
.myTet{
    font-size: .24rem;
    color: #999999;
    margin-top: .47rem;
    margin-bottom: .3rem;
}
.circl,.statusCircl{
    width:100%;
    font-size: .24rem;
    height:.8rem;
    color: #ff5e3a;
    box-sizing: border-box;
    border-radius: .1rem;
    border:1px solid #999999;
    margin-top: .47rem
}
.statusCircl ul,.circl ul {
    display: -webkit-box;
    display: flex;
    width: 50%;
    -webkit-display: flex;
    height: 100%;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    margin: auto;
}
 .statusCircl ul li,.circl ul li{
     flex-direction:column;
    -webkit-flex-direction:column;
    justify-content:center;
    -webkit-justify-content:center;
    flex-direction:column;
    -webkit-flex-direction:column;
    align-items:center;
    font-size: .24rem;
}
.circl ul li:nth-of-type(1){
    background: url(./img/photo.png) no-repeat center;
    width: .4rem;
    height: .4rem;
    background-size: 100%;
} 
.statusCircl ul li:nth-of-type(1){
    background: url(./img/jiaCil.png) no-repeat center;
    width: .4rem;
    height: .4rem;
    background-size: 100%;
} 
.circl ul li:nth-of-type(2){
    margin-left: .1rem;
}
.statusCircl ul li:nth-of-type(2){
    margin-left: .1rem;
}
.status{
    margin-top: .1rem;
}
.statusMyTet p:nth-of-type(1){
    font-size: .72rem;
    color: #999999;
}
.statusMyTet p:nth-of-type(2){
    font-size: .2rem;
    color: #999999;
}
.circum{
    width:100%;
    height: 6.78rem;
    background: #ffffff;
    margin-top: .5rem;
}
.feren{
    height: .95rem;
    width:94%;
    margin: auto;
    line-height: .95rem;
}
.myFen{
    float: left;
    font-size: .28rem;
    color: #666666;
}
.meas{
    float: right;
    font-size: .2rem;
    color: #999999;
    height: 100%;

}
.feFont{
    width:94%;
    height: 1.10rem;
    margin: auto;
    text-align: center;
}
.feFont div:nth-of-type(1){
    font-size: .72rem;
    color: #999999;
    text-align: center;
}
.feFont div:nth-of-type(2){
    font-size: .2rem;
    color: #999999;
    text-align: center;
}
.bust{
    width:94%;
    height: 3.32rem;
    margin: auto;
}
.bust ul li{
    width: 33.3%;
    height: 1.66rem;
    text-align: center;
    float: left;
    padding-top: .4rem;
    box-sizing: border-box;
}
.bust ul li p:nth-of-type(1){
    font-size: .49rem;
    color: #666666;
}
.bust ul li p:nth-of-type(2){
    margin-top: .1rem;
    font-size: .19rem;
    color: #999999;
}
.blZon{
    width:100%;
    height:auto;
    background: #fff;
    margin-top: .1rem;
}
.blCon{
    font-size: .28rem;
    text-align: left;
    color: #666666;
    padding-top: .3rem;
    box-sizing: border-box;
}
.sugar{
    margin-top: .1rem;
}
.highPre{
  width: 100%;
  height: 1.31rem;
}
.highLeft{
  float: left;
  width:30%;
  height: 100%;
}
.hightRight{
  float: right;
  width:70%;
  height: 100%;
  padding-top: .2rem;
  box-sizing: border-box;
}
.hiL{
    float: left;
    width:50%;
    height: 100%;
}
.hiL p:nth-of-type(1){
    font-size: .48rem;
    color: #999999;
}
.hiL p:nth-of-type(2){
    font-size: .2rem;
    color: #999999;
    margin-top: .15rem;
}
.hiR{
    float: right;
    width:50%;
    height: 100%;
}
.hiR p:nth-of-type(1){
    font-size: .48rem;
    color: #999999;
}
.hiR p:nth-of-type(2){
    font-size: .2rem;
    color: #999999;
    margin-top: .15rem;
}
/*.statusCircl{
    width:100%;
    font-size: .24rem;
    height:.8rem;
    color: #ff5e3a;
    box-sizing: border-box;
    border-radius: .1rem;
    border:.01rem solid #999999;
    margin-top: .47rem
}
.statusCircl ul {
    display: -webkit-box;
    display: flex;
    width: 50%;
    -webkit-display: flex;
    height: 100%;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    margin: auto;
}
 .statusCircl ul li{
     flex-direction:column;
    -webkit-flex-direction:column;
    justify-content:center;
    -webkit-justify-content:center;
    flex-direction:column;
    -webkit-flex-direction:column;
    align-items:center;
    font-size: .24rem;
}
.statusCircl ul li:nth-of-type(1){
    background: url(./img/jiaCil.png) no-repeat center;
    width: .4rem;
    height: .4rem;
    background-size: 100%;
} 
.statusCircl ul li:nth-of-type(2){
    margin-left: .1rem;
}*/
.blooCon{
	width: 93%;
    height: auto;
    margin: auto;
    padding-bottom: .3rem;
    margin: auto;
    box-sizing: border-box;
}
.fat{
    width:100%;
    height: auto;
    background: #fff;
    margin-top: .1rem;
}
.fatO{
    font-size: .28rem;
    color: #666666;
}
.fatZ{
    width: 93%;
    height: 100%;
    margin: auto;
    text-align: left;
    padding-top: .3rem;
    box-sizing: border-box;
}
.fatT ul:after{
    zoom: 1;
}
.fatT ul {
    clear:both;
    content:'';
    display:block;
    height: 100%;
    width:100%;
}
.fatT{
    padding-bottom: .3rem;
    box-sizing: border-box;
    height: 4.9rem;
    width: 100%;
}
.fatS{
	padding-bottom: .3rem;
	box-sizing: border-box;
}
.fatT ul li{
    width:33.3%;
    height: auto;
    float: left;
    padding: .48rem 0 0 0;
    box-sizing: border-box;
    text-align: center;
}
.fatT ul li p:nth-of-type(1){
    font-size: .48rem;
    color: #666666;
}
.fatT ul li p:nth-of-type(2){
    font-size: .20rem;
    color: #999999;
    margin-top: .3rem;
}
.lip{
    font-size: .24rem;
    color: #fff;
    margin-top: .2rem;
}
.fatT ul li p:nth-of-type(3){
    width: 1.29rem;
    height: .42rem;
    background: #cccccc;
    line-height: .42rem;
    text-align: center;
    border-radius: .04rem;
    margin-left: .4rem;
}