#healthPlan {
  overflow: auto; }
  #healthPlan .healthPlanHeader {
    width: 100%;
    height: 0.84rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.28rem !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #d7d7d7; }
  #healthPlan .healthPlan-con {
    width: 100%;
    height: 86%;
    overflow: auto; }
    #healthPlan .healthPlan-con .ivu-tabs {
      width: 100%;
      height: 100%; }
    #healthPlan .healthPlan-con .ivu-tabs-content {
      width: 100%;
      height: 100%; }
    #healthPlan .healthPlan-con .nav-text {
      float: none; }
    #healthPlan .healthPlan-con .ivu-tabs-tab {
      width: 1.76rem;
      height: 1rem;
      border-bottom: 0.01rem solid #dcdee2;
      font-size: 0.3rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: #999999;
      line-height: 1rem;
      padding: 0.08rem 0.16rem;
      margin-right: 0.16rem; }
    #healthPlan .healthPlan-con .ivu-tabs-bar {
      box-shadow: 0 0.04rem 0.08rem 0 rgba(22, 23, 23, 0.1);
      margin: 0; }
    #healthPlan .healthPlan-con .ivu-tabs-tab:hover {
      color: none; }
    #healthPlan .healthPlan-con .ivu-tabs-nav-container:focus,
    #healthPlan .healthPlan-con .ivu-tabs-tab-focused {
      border-bottom-color: none !important; }
    #healthPlan .healthPlan-con .ivu-tabs-ink-bar {
      display: none;
      width: 30% !important;
      transition: color .3s ease-in-out; }
    #healthPlan .healthPlan-con .ivu-tabs-tab-active {
      color: #ff5e3a !important;
      border-bottom: 0.08rem solid #ff5e3a !important;
      transition: color 0.3s ease-in-out; }
    #healthPlan .healthPlan-con .ivu-tabs-nav-container:focus .ivu-tabs-tab-focused {
      border-color: none !important;
      transition: color 0.3s ease-in-out; }
    #healthPlan .healthPlan-con .healthGuide {
      height: 100%;
      width: 100%;
      background: #e9f7fa; }
      #healthPlan .healthPlan-con .healthGuide .healthGuide-con {
        width: 100%;
        height: 11.88rem;
        background: url(../../../../static/hulu/dahulu.png) no-repeat;
        background-clip: no-clip;
        background-size: 75%;
        background-position-x: center;
        background-position-y: 2rem;
        position: relative; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > article {
          width: 100%;
          height: 0.97rem;
          display: flex;
          flex-direction: row;
          flex: 1; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > article > div:nth-of-type(1) {
            margin-left: -0.36rem;
            width: 5rem;
            height: 0.97rem; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > article > div:nth-of-type(2) {
            width: 1.15rem;
            height: 0.41rem;
            margin-left: 1.41rem;
            margin-top: 0.28rem; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > section .healthGuide-con-right {
          width: 0.68rem;
          min-height: 0.98rem;
          margin-left: 6.52rem;
          margin-top: 0.3rem; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > section .healthGuide-con-right > div {
            width: 0.68rem;
            min-height: 0.98rem;
            font-size: 0.22rem;
            color: #AC7A39;
            margin-bottom: 0.19rem; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > section .healthGuide-con-right > div img {
              width: 100%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > section .healthGuide-con-right > ul {
            width: 0.69rem;
            background: #ffe957;
            margin-bottom: 0.3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-content: center;
            border-radius: 20%;
            border: 0.1rem solid #ffc55a;
            box-sizing: content-box;
            font-size: 0.16rem; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > section .healthGuide-con-left {
          min-width: 0.59rem;
          height: 3.28rem;
          position: absolute;
          top: 15.07%;
          left: 4.13%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > section .healthGuide-con-left > .avatar {
            margin-bottom: 0.35rem;
            width: 1.39rem;
            height: 0.59rem;
            background: #d3e3ab;
            border-radius: 25% 25% 25% 25% / 50% 50% 50% 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > section .healthGuide-con-left > .avatar > div:nth-of-type(1) {
              width: 0.59rem;
              height: 0.59rem; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > section .healthGuide-con-left > .avatar > div:nth-of-type(2) {
              width: 0.24rem;
              height: 0.4rem;
              margin-top: 0.1rem;
              margin-left: -0.05rem; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > section .healthGuide-con-left > .avatar > p {
              font-size: 0.28rem;
              width: 0.44rem;
              height: 0.59rem;
              margin-top: 0.15rem;
              margin-left: -0.1rem;
              color: #FF5E3A; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > section .healthGuide-con-left > .myMsg {
            width: 0.68rem;
            min-height: 0.68rem;
            margin-bottom: 0.25rem;
            color: #BB8845; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > section .healthGuide-con-left > .clock {
            margin-left: -0.3rem;
            width: 1.4rem;
            min-height: 1.08rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
            color: #BB8845; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > section .healthGuide-con-left > .clock > div {
              margin-left: 0.3rem;
              width: 0.68rem;
              height: 0.68rem; }
              #healthPlan .healthPlan-con .healthGuide .healthGuide-con > section .healthGuide-con-left > .clock > div img {
                width: 100%;
                height: 100%; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > section .healthGuide-con-left > .clock > p {
              display: block;
              width: 1.5rem;
              height: 0.3rem; }
              #healthPlan .healthPlan-con .healthGuide .healthGuide-con > section .healthGuide-con-left > .clock > p > b {
                color: #000; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(1) {
          width: 3.9rem;
          height: 1.17rem;
          position: absolute;
          top: 40%;
          left: 0;
          right: 0;
          margin: auto; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(1) .healthGuide-con-footprint {
            width: 0.25rem;
            height: 0.31rem;
            position: absolute;
            top: 38%;
            left: 30%;
            transform: rotate(-20deg); }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(1) .healthGuide-con-footprint img {
              width: 100%;
              height: 100%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(1) .healthGuide-con-dot {
            position: absolute;
            top: 44%;
            left: 45%;
            width: 0.28rem;
            height: 0.28rem;
            border: 0.02rem solid #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(1) .healthGuide-con-dot .healthGuide-con-dot-concret {
              width: 0.15rem;
              height: 0.15rem;
              background: #000;
              border-radius: 50%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(1) img {
            width: 100%;
            height: 100%; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(2) {
          width: 1.02rem;
          height: 1.05rem;
          position: absolute;
          right: 0;
          margin: auto;
          background: rgba(255, 255, 25, 0.5);
          left: -45%;
          top: 30%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(2) .healthGuide-con-footprint {
            width: 0.25rem;
            height: 0.31rem;
            position: absolute;
            top: 8%;
            left: 40%;
            transform: rotate(10deg); }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(2) .healthGuide-con-footprint img {
              width: 100%;
              height: 100%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(2) .healthGuide-con-dot {
            position: absolute;
            top: 44%;
            left: 45%;
            width: 0.28rem;
            height: 0.28rem;
            border: 0.02rem solid #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(2) .healthGuide-con-dot .healthGuide-con-dot-concret {
              width: 0.15rem;
              height: 0.15rem;
              background: #000;
              border-radius: 50%; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(3) {
          width: 1.3rem;
          height: 1.28rem;
          position: absolute;
          top: 18.2%;
          left: 22.6%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(3) .healthGuide-con-footprint {
            width: 0.25rem;
            height: 0.31rem;
            position: absolute;
            top: 28%;
            left: 70%;
            transform: rotate(40deg); }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(3) .healthGuide-con-footprint img {
              width: 100%;
              height: 100%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(3) .healthGuide-con-dot {
            position: absolute;
            top: 44%;
            left: 45%;
            width: 0.28rem;
            height: 0.28rem;
            border: 0.02rem solid #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(3) .healthGuide-con-dot .healthGuide-con-dot-concret {
              width: 0.15rem;
              height: 0.15rem;
              background: #000;
              border-radius: 50%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(3) img {
            width: 100%;
            height: 100%; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(4) {
          width: 1.28rem;
          height: 0.97rem;
          position: absolute;
          top: 17.2%;
          left: 41.7%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(4) .healthGuide-con-footprint {
            width: 0.25rem;
            height: 0.31rem;
            position: absolute;
            top: 28%;
            left: 77%;
            transform: rotate(90deg); }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(4) .healthGuide-con-footprint img {
              width: 100%;
              height: 100%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(4) .healthGuide-con-dot {
            position: absolute;
            top: 44%;
            left: 45%;
            width: 0.28rem;
            height: 0.28rem;
            border: 0.02rem solid #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(4) .healthGuide-con-dot .healthGuide-con-dot-concret {
              width: 0.15rem;
              height: 0.15rem;
              background: #000;
              border-radius: 50%; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(5) {
          width: 1.2rem;
          height: 1.24rem;
          position: absolute;
          top: 18.1%;
          left: 61%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(5) .healthGuide-con-footprint {
            width: 0.25rem;
            height: 0.31rem;
            position: absolute;
            top: 68%;
            left: 60%;
            transform: rotate(150deg); }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(5) .healthGuide-con-footprint img {
              width: 100%;
              height: 100%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(5) .healthGuide-con-dot {
            position: absolute;
            top: 44%;
            left: 45%;
            width: 0.28rem;
            height: 0.28rem;
            border: 0.02rem solid #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(5) .healthGuide-con-dot .healthGuide-con-dot-concret {
              width: 0.15rem;
              height: 0.15rem;
              background: #000;
              border-radius: 50%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(5) img {
            width: 100%;
            height: 100%; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(6) {
          width: 1.02rem;
          height: 1.05rem;
          position: absolute;
          top: 30%;
          left: 64.7%;
          background: rgba(255, 255, 25, 0.5); }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(6) .healthGuide-con-footprint {
            width: 0.25rem;
            height: 0.31rem;
            position: absolute;
            top: 68%;
            left: 70%;
            transform: rotate(220deg); }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(6) .healthGuide-con-footprint img {
              width: 100%;
              height: 100%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(6) .healthGuide-con-dot {
            position: absolute;
            top: 44%;
            left: 45%;
            width: 0.28rem;
            height: 0.28rem;
            border: 0.02rem solid #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(6) .healthGuide-con-dot .healthGuide-con-dot-concret {
              width: 0.15rem;
              height: 0.15rem;
              background: #000;
              border-radius: 50%; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(7) {
          width: 2.03rem;
          height: 1.02rem;
          position: absolute;
          top: 46.7%;
          left: 15.5%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(7) .healthGuide-con-footprint {
            width: 0.25rem;
            height: 0.31rem;
            position: absolute;
            top: 70%;
            left: 30%;
            transform: rotate(250deg); }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(7) .healthGuide-con-footprint img {
              width: 100%;
              height: 100%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(7) .healthGuide-con-dot {
            position: absolute;
            top: 44%;
            left: 45%;
            width: 0.28rem;
            height: 0.28rem;
            border: 0.02rem solid #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(7) .healthGuide-con-dot .healthGuide-con-dot-concret {
              width: 0.15rem;
              height: 0.15rem;
              background: #000;
              border-radius: 50%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(7) img {
            width: 100%;
            height: 100%; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(8) {
          width: 1.13rem;
          height: 1.07rem;
          position: absolute;
          top: 56.4%;
          left: 12.15%;
          background: rgba(255, 255, 25, 0.5); }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(8) .healthGuide-con-footprint {
            width: 0.25rem;
            height: 0.31rem;
            position: absolute;
            top: 68%;
            left: 30%;
            transform: rotate(210deg); }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(8) .healthGuide-con-footprint img {
              width: 100%;
              height: 100%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(8) .healthGuide-con-dot {
            position: absolute;
            top: 44%;
            left: 45%;
            width: 0.28rem;
            height: 0.28rem;
            border: 0.02rem solid #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(8) .healthGuide-con-dot .healthGuide-con-dot-concret {
              width: 0.15rem;
              height: 0.15rem;
              background: #000;
              border-radius: 50%; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(9) {
          width: 1.34rem;
          height: 0.91rem;
          position: absolute;
          top: 66.8%;
          left: 12.3%;
          background: rgba(255, 255, 25, 0.5); }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(9) .healthGuide-con-footprint {
            width: 0.25rem;
            height: 0.31rem;
            position: absolute;
            top: 68%;
            left: 40%;
            transform: rotate(170deg); }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(9) .healthGuide-con-footprint img {
              width: 100%;
              height: 100%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(9) .healthGuide-con-dot {
            position: absolute;
            top: 44%;
            left: 45%;
            width: 0.28rem;
            height: 0.28rem;
            border: 0.02rem solid #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(9) .healthGuide-con-dot .healthGuide-con-dot-concret {
              width: 0.15rem;
              height: 0.15rem;
              background: #000;
              border-radius: 50%; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(10) {
          width: 1.52rem;
          height: 1.06rem;
          position: absolute;
          top: 75.8%;
          left: 17.8%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(10) .healthGuide-con-footprint {
            width: 0.25rem;
            height: 0.31rem;
            position: absolute;
            top: 45%;
            left: 70%;
            transform: rotate(130deg); }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(10) .healthGuide-con-footprint img {
              width: 100%;
              height: 100%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(10) .healthGuide-con-dot {
            position: absolute;
            top: 44%;
            left: 45%;
            width: 0.28rem;
            height: 0.28rem;
            border: 0.02rem solid #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(10) .healthGuide-con-dot .healthGuide-con-dot-concret {
              width: 0.15rem;
              height: 0.15rem;
              background: #000;
              border-radius: 50%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(10) img {
            width: 100%;
            height: 100%; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(11) {
          width: 1.34rem;
          height: 0.91rem;
          position: absolute;
          top: 78.1%;
          left: 40.6%;
          background: rgba(255, 255, 25, 0.5); }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(11) .healthGuide-con-footprint {
            width: 0.25rem;
            height: 0.31rem;
            position: absolute;
            top: 40%;
            left: 75%;
            transform: rotate(90deg); }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(11) .healthGuide-con-footprint img {
              width: 100%;
              height: 100%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(11) .healthGuide-con-dot {
            position: absolute;
            top: 44%;
            left: 45%;
            width: 0.28rem;
            height: 0.28rem;
            border: 0.02rem solid #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(11) .healthGuide-con-dot .healthGuide-con-dot-concret {
              width: 0.15rem;
              height: 0.15rem;
              background: #000;
              border-radius: 50%; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(12) {
          width: 1.52rem;
          height: 1.06rem;
          position: absolute;
          top: 75.8%;
          left: 60.8%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(12) .healthGuide-con-footprint {
            width: 0.25rem;
            height: 0.31rem;
            position: absolute;
            top: 10%;
            left: 60%;
            transform: rotate(50deg); }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(12) .healthGuide-con-footprint img {
              width: 100%;
              height: 100%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(12) .healthGuide-con-dot {
            position: absolute;
            top: 44%;
            left: 45%;
            width: 0.28rem;
            height: 0.28rem;
            border: 0.02rem solid #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(12) .healthGuide-con-dot .healthGuide-con-dot-concret {
              width: 0.15rem;
              height: 0.15rem;
              background: #000;
              border-radius: 50%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(12) img {
            width: 100%;
            height: 100%; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(14) {
          width: 1.34rem;
          height: 0.91rem;
          position: absolute;
          top: 66.9%;
          left: 69.3%;
          background: rgba(255, 255, 25, 0.5); }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(14) .healthGuide-con-footprint {
            width: 0.25rem;
            height: 0.31rem;
            position: absolute;
            top: 5%;
            left: 60%;
            transform: rotate(20deg); }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(14) .healthGuide-con-footprint img {
              width: 100%;
              height: 100%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(14) .healthGuide-con-dot {
            position: absolute;
            top: 44%;
            left: 45%;
            width: 0.28rem;
            height: 0.28rem;
            border: 0.02rem solid #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(14) .healthGuide-con-dot .healthGuide-con-dot-concret {
              width: 0.15rem;
              height: 0.15rem;
              background: #000;
              border-radius: 50%; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(15) {
          width: 1.13rem;
          height: 1.07rem;
          position: absolute;
          top: 56.5%;
          left: 72.55%;
          background: rgba(255, 255, 25, 0.5); }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(15) .healthGuide-con-footprint {
            width: 0.25rem;
            height: 0.31rem;
            position: absolute;
            top: 5%;
            left: 40%;
            transform: rotate(0deg); }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(15) .healthGuide-con-footprint img {
              width: 100%;
              height: 100%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(15) .healthGuide-con-dot {
            position: absolute;
            top: 44%;
            left: 45%;
            width: 0.28rem;
            height: 0.28rem;
            border: 0.02rem solid #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(15) .healthGuide-con-dot .healthGuide-con-dot-concret {
              width: 0.15rem;
              height: 0.15rem;
              background: #000;
              border-radius: 50%; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(16) {
          width: 2.03rem;
          height: 1.02rem;
          position: absolute;
          top: 46.7%;
          left: 55.5%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(16) .healthGuide-con-footprint {
            width: 0.25rem;
            height: 0.31rem;
            position: absolute;
            top: 5%;
            left: 30%;
            transform: rotate(-30deg); }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(16) .healthGuide-con-footprint img {
              width: 100%;
              height: 100%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(16) .healthGuide-con-dot {
            position: absolute;
            top: 44%;
            left: 45%;
            width: 0.28rem;
            height: 0.28rem;
            border: 0.02rem solid #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(16) .healthGuide-con-dot .healthGuide-con-dot-concret {
              width: 0.15rem;
              height: 0.15rem;
              background: #000;
              border-radius: 50%; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con > div:nth-of-type(16) img {
            width: 100%;
            height: 100%; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con .sun {
          position: absolute;
          left: 0;
          right: 0;
          top: 29%;
          margin: auto;
          width: 1.1rem;
          height: 1.1; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con .sun img {
            width: 100%;
            height: 100%; }
        #healthPlan .healthPlan-con .healthGuide .healthGuide-con .moon {
          position: absolute;
          left: 0;
          right: 0;
          top: 59%;
          margin: auto;
          width: 1.21rem;
          height: 1.23rem; }
          #healthPlan .healthPlan-con .healthGuide .healthGuide-con .moon img {
            width: 100%;
            height: 100%; }
  #healthPlan .mint-loadmore {
    height: 100%; }

/*# sourceMappingURL=healthPlan.css.map */
