.healthCon {
    width: 100%;
    height: auto;
    background: #EEEEEE;
    /*padding-bottom: 1.15rem;*/
    box-sizing: border-box;
}

.healthTop {
    width: 100%;
    height: auto;
    line-height: .95rem;
    background: #FFFFFF;
    zoom: 1;
    margin-bottom: .02rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.healthTop:after {
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.fanhui {
    width: 12%;
    height: .95rem;
    float: left;
    display: inline-block;
    font-size: .28rem;
    color: #333333;
}

.healMana {
    float: left;
    width: 68%;
    height: .95rem;
    display: inline-block;
}

.healRi {
    width: 12%;
    height: .95rem;
    float: right;
}

.fhAnniu {
    display: inline-block;
    width: .4rem;
    height: .319rem;
    background: url(../../../static/images/fanhui.png) no-repeat center;
    background-size: 100% 100%;
}

.healImg {
    width: .334rem;
    height: .33rem;
    background: url(../../../static/images/commod05.png) no-repeat center;
    background-size: 100% 100%;
    margin: auto;
    margin-top: .3rem;
}

.control {
    width: 100%;
    height: 7.34rem;
    background: url(../../../static/images/manage01.png) no-repeat center;
    background-size: 100% 100%;
    position: relative;
}

.conWen {
    position: absolute;
    left: .6rem;
    top: 1.52rem;
    width: auto;
    height: auto;
}

.conWen p:nth-of-type(1) {
    font-size: .72rem;
    color: #ff5e3a;
}

.conWen p:nth-of-type(2) {
    font-size: .48rem;
    color: #ff5e3a;
    margin: .28rem 0 .36rem 0;
}

.dinZ {
    font-size: .28rem;
    color: #999999;
    margin-top: .06rem;
    text-align: left;
}

.problem {
    width: 100%;
    height: auto;
    background: #fff;
    margin: .05rem 0 .09rem 0;
}

.content {
    width: 68%;
    height: 5.08rem;
    margin: auto;
    padding-top: .36rem;
    box-sizing: border-box;
}

.wenti {
    font-size: .36rem;
    font-family: PingFangSC-Regular;
    color: rgba(255, 94, 58, 1);
}

.xian {
    width: 1.03rem;
    height: .04rem;
    background: rgba(255, 94, 58, 1);
    border-radius: .02rem;
    margin: auto;
    margin-top: .2rem;
}

.sugar {
    width: 100%;
    height: 1.40rem;
    margin-top: .44rem;
}

.controlPro {
    width: 100%;
    height: 1.40rem;
    margin-top: .52rem;
}

.sugarLeft {
    width: 1.40rem;
    height: 1.40rem;
    float: left;
}

.sugarLeft img {
    width: 100%;
    height: 100%;
}

.sugarRight {
    float: left;
    margin: .4rem 0 0 .31rem;
}

.sugarRight p:nth-of-type(1) {
    font-size: .3rem;
    color: rgba(255, 94, 58, 1);
}

.sugarRight p:nth-of-type(2) {
    font-size: .24rem;
    color: rgba(153, 153, 153, 1);
    text-align: left;
    margin-top: .18rem;
}

.effect {
    width: 100%;
    height: 7.34rem;
    background: #FF5E3A;
}

.effContent {
    width: 68%;
    height: 7.34rem;
    margin: auto;
    padding-top: .6rem;
    box-sizing: border-box;
}

.xiaoguo {
    color: rgba(255, 255, 255, 1);
    font-size: .36rem;
    margin-bottom: .2rem;
}

.effXian {
    width: 1.03rem;
    height: .04rem;
    background: rgba(255, 255, 255, 1);
    border-radius: .02rem;
    margin: auto;
}

.effUl {
    margin-top: .42rem;
}

.effUl ul li {
    width: 100%;
    height: .8rem;
    padding-left: .6rem;
    box-sizing: border-box;
    margin-top: .25rem;
}

.liOne {
    width: .8rem;
    height: .8rem;
    float: left;
}

.liOne img {
    width: 100%;
    height: 100%;
}

.liRight {
    float: left;
    margin: .22rem 0 0 .56rem;
}

.liRight p {
    font-size: .28rem;
    color: rgba(255, 255, 255, 1);
}

.promise {
    width: 100%;
    height: 5.63rem;
    background: #F2F2F2;
}

.proContent {
    width: 92%;
    height: 5.63rem;
    padding-top: .4rem;
    margin: auto;
    box-sizing: border-box;
}

.protein {
    width: 100%;
    height: 1.88rem;
    background: #FF5E3A;
    border-radius: .1rem;
    padding-top: .46rem;
    box-sizing: border-box;
}

.proXian {
    width: 1.03rem;
    height: .04rem;
    background: rgba(255, 94, 58, 1);
    border-radius: .02rem;
    margin: auto;
    margin-bottom: .39rem;
}

.solemn {
    font-size: .3rem;
    color: rgba(255, 94, 58, 1);
    margin-bottom: .19rem;
}

.quane {
    font-size: .36rem;
    color: rgba(153, 153, 153, 1);
    margin-bottom: .17rem;
}

.protein p:nth-of-type(1) {
    font-size: .3rem;
    color: #FFFFFF;
    margin-bottom: .24rem;
}

.protein p:nth-of-type(2) {
    font-size: .48rem;
    color: #FFFFFF;
}

.yohu {
    font-size: .2rem;
    color: rgba(153, 153, 153, 1);
    text-align: left;
    margin-top: .31rem;
}

.hospital {
    width: 100%;
    height: auto;
    background: #FFFFFF;
}

.hospital ul li {
    width: 100%;
    height: 3.03rem;
    margin-bottom: .43rem;
}

.hospital ul li:nth-of-type(1) {
    /*position: absolute;*/
    /*top: -0.7rem;*/
    width: 100%;
    height: 3.03rem;
    top: .37rem;
}

.hosCon {
    width: 92%;
    margin: auto;
    position: relative;
}

.hosLiLeft {
    width: 67%;
    height: 2.93rem;
    float: left;
}

.hosLiRight {
    width: 33%;
    height: 2.93rem;
    float: right;
}

.shu {
    float: left;
    width: .6rem;
    height: .8rem;
    border: .02rem solid rgba(255, 94, 58, 1);
    border-radius: .1rem;
    line-height: .8rem;
    text-align: center;
    font-size: .6rem;
    color: rgba(255, 94, 58, 1);
}

.hosContent:after {
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.hosContent {
    zoom: 1;
    margin-bottom: .39rem;
}

.analysis {
    float: left;
    margin-left: .26rem;
    padding-top: .04rem;
    box-sizing: border-box;
}

.analysis p {
    color: rgba(255, 94, 58, 1);
    font-size: .24rem;
    margin-top: .1rem;
    margin-top: .15rem;
}

.hosWenzi p {
    color: rgba(153, 153, 153, 1);
    margin-top: .1rem;
    font-size: .2rem;
    text-align: left;
}

.hosLiRight img {
    width: 2.08rem;
    height: 3.01rem;
}

.hospital ul li:nth-child(even) .hosLiRight {
    float: left;
    width: 31%;
}

.hospital ul li:nth-child(even) .hosLiLeft {
    float: right;
    margin-left: .53rem;
    width: 59%;
}

.hospital ul li:nth-last-child(1) {
    margin-bottom: 0;
}

.purch {
    margin-top: .1rem;
    width: 100%;
    height: .88rem;
    background: rgba(255, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-size: .3rem;
    line-height: .88rem;
    text-align: center;
}

.cation {
    position: fixed;
    bottom: .9rem;
    right: .2rem;
    width: .86rem;
    height: .86rem;
    background: url(../../../static/images/details06.png) no-repeat center;
    background-size: 100% 100%;
}