.sports-vide {
    width: 100%;
}

.punch-card {
    width: 95%;
    padding: 0.3rem;
    background: #fff;
    border-radius: 5px;
    margin: 10px auto;
    text-align: left;
}

.card-top {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 0.4rem;
    padding-bottom: 0.4rem;
}

.card-top h3,
.card-bottom h3 {
    font-size: 0.3rem;
    color: #999;
    padding-bottom: 0.2rem;
}

.card-top h3 span {
    font-size: 0.2rem;
    float: right;
}

.card-top,
.card-bottom p {
    font-size: 0.2rem;
    color: #999;
    line-height: 0.4rem;
}

.card-bottom p {
    width: 60%;
}

.card-bottom .oragen {
    color: #ff5e3a;
}

.card-bottom {
    position: relative;
}

.card-bottom button {
    width: 1.24rem;
    height: 1.24rem;
    background: url('../../../static/images/daka_btn.png');
    background-size: 1.24rem 1.24rem;
    line-height: 1.24rem;
    color: #7e3e3f;
    font-size: 0.3rem;
    border: 0;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}