.pressure{
	width:100%;
	height: auto;
	background: #EEEEEE;
}
.preTop{
	padding: .3rem;
    box-sizing: border-box;
	width:100%;
	height: 1rem;
	background: #FFFFFF;
}
.measure{
   width:100%;
   height: 1.46rem;
   margin-top: .1rem;
   background: #FFFFFF;
   position: relative;
}
.meaRight{
	position: absolute;
	width:1.46rem;
	height: .66rem;
	line-height: .66rem;
	right:0;
	border:.01rem solid #ff5e3a;
	box-sizing: border-box;
	border-radius: .5rem 0 0 .5rem;
	font-size: .22rem;
	color: #FF5E3A;
	margin-top: .4rem;
}
.preTopLeft{
	width:6%;
	height: .33rem;
	background: yellowgreen;
	float: left;
	background: url(../../../static/images/ShareIcon.png) no-repeat center;
	background-size: 100% 100%;
}
.preTopCenter{
	font-size: .29rem;
	color: #333333;
	width: 92%;
	float: left;
	text-align: center;
}
.record{
	width:100%;
	height: 3.70rem;
	background: gold;
}
.recordBlood{
	width:3.25rem;
	height: .98rem;
	margin: auto;
	background: url(../../../static/images/recordBlood.png) no-repeat center;
	background-size: 100% 100%;
	font-size: .3rem;
	color: #FFFFFF;
	margin-top: .3rem;
	line-height: .78rem;
	text-align: center;
}
.rugUse{
	width: 100%;
	height: 3.58rem;
	background: bisque;
	background: url(../../../static/images/yongyaoImg.png) no-repeat center;
	background-size: 100% 100%;
	padding-top: .5rem;
	box-sizing: border-box;
	margin-top: 1.3rem;
}
.rugUseContent{
    width: 65%;
	height: 1.53rem;
	margin: auto;
	margin-top: .88rem;
}
.rugUseContent ul li{
	width:50%;
	height:auto;
	float: left;
	font-size: .24rem;
	color: #fff;
}
.medica{
	width:1.34rem;
	height: 1.34rem;
	background: url(../../../static/images/yongyao.png) no-repeat center;
	background-size: 100% 100%;
	margin: auto;
}
.remind{
	width:1.34rem;
	height: 1.34rem;
	background: url(../../../static/images/naozhong.png) no-repeat center;
	background-size: 100% 100%;
	margin: auto;
}
